* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* margin and padding */
  margin: 0;
  padding: 0;
  /* background color */
  background-color: black;

  /* font */
  font-family: sans-serif;
  font-size: 20px;
  color: white;

  /* remove scroll */
  overflow: hidden;
}
