/* information displayed in a container */
#shape-info-container {
  /* position absolute so it's floating on top of figure */
  position: absolute;

  /* margin for info container */
  margin-top: 80px;

  /* width and padding */
  width: 400px;
  padding: 20px;

  /* light background color */
  background-color: rgb(213, 213, 213, 0.4);

  /* display flex and col to align elements correctly */
  display: flex;
  flex-direction: column;

  z-index: 2;
}

/* each of the elements inside the info container */
.shape-info-element {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* there are some clickable buttons inside the info container */
button {
  all: unset;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px;
  cursor: pointer;
  background-color: grey;
}

button:hover {
  background-color: white;
  color: grey;
}

canvas {
  display: block;

  /* positioning below nav bar */
  position: absolute;
  margin-top: 60px;

  /* index 1 to go behind floating info box */
  z-index: 1; 
}